:root {
  --dark-color: #000;
  --light-color: #f2f2f2;
  --dark-highlight-color: #fff;
  --light-highlight-color: #2d3748;


  &.dark {
    --dark-color: #fff;
    --light-color: #000;
    --dark-highlight-color: #2d3748;
    --light-highlight-color: #1a202c;
  }
}

@tailwind base;

/* @media (prefers-color-scheme: dark) {
  :root {
    --dark-color: #fff;
    --light-color: #000;
    --dark-highlight-color: #2d3748;
    --light-highlight-color: #1a202c;
  }
} */

html {
  scroll-behavior: smooth;
  @apply bg-light;
}

.__nuxt-error-page {
  @apply bg-light text-dark;
}

.thin-scrollbar {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    @apply bg-gray-300;
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-black;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    @apply bg-transparent w-0 h-0;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }
}

@tailwind components;
@tailwind utilities;
