:root {
  --dark-color: #000;
  --light-color: #f1f2f6;
  --dark-highlight-color: #fff;
  --light-highlight-color: #2d3748;
  --image-filter: grayscale(0%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-color: #fff;
    --light-color: #000;
    --dark-highlight-color: #2d3748;
    --light-highlight-color: #1a202c;
    --image-filter: grayscale(50%);
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: unset;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.001s !important;
    transition-duration: 0.001s !important;
  }
}

html {
  scroll-behavior: smooth;
  @apply bg-light;

  & img:not([src*='.svg']) {
    filter: var(--image-filter);
  }
}

.__nuxt-error-page {
  @apply bg-light text-dark;
}

.thin-scrollbar {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    @apply bg-gray-300;
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-black;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    @apply bg-transparent w-0 h-0;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
