@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: unset;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.001s !important;
    transition-duration: 0.001s !important;
  }
}

html {
  @apply transition-colors duration-300 select-none;
  @apply bg-gray-200 text-gray-900;
  scroll-behavior: smooth;
  & img:not([src*='.svg']) {
    filter: none;
  }

  &.dark-mode {
    @apply bg-black text-gray-200;
    & img:not([src*='.svg']) {
      filter: contrast(80%);
    }
  }
}

/* purgecss start ignore */
.thin-scrollbar {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    @apply bg-gray-300;
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-black;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    @apply bg-transparent w-0 h-0;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }
}
/* purgecss end ignore */
